<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Learn</title>
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hello Loop....!</h1>

    <div id="app">
        <div v-if="showBooks">
            <p>
                {{ books[0].title }} - {{ books[0].author }}
            </p>
            <p>
                {{ books[1].title }} - {{ books[1].author }}
            </p>
            <p>
                {{ books[2].title }} - {{ books[2].author }}
            </p>
            <p>
                {{ books[3].title }} - {{ books[3].author }}
            </p>
            <p>
                {{ books[4].title }} - {{ books[4].author }}
            </p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

    
        <h1>
            -----------------------------------------------------------------
        </h1>
        <div>
            <ul>
                <li v-for="book in books">
                    <h3> {{ book.title}} </h3>
                    <p> {{ book.author }} </p>
                </li>
            </ul>
        </div>
        
    </div>

    <script src="Array.js"></script>
</body>
</html>